<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        
                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h1 class="h4 font-weight-bold ">Chatly</h1>
                                </div>
                                <h3 class="h4 font-weight-bold text-theme">Register</h3>
                                <form>
                                  
                                  <div class="form-group">
                                    <div class="input-group no-border input-lg">
                                      <input type="text" class="form-control" placeholder="Username" required autofocus>
                                      
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="input-group no-border input-lg">
                                      <input type="text" id="email_address" class="form-control" placeholder="Email" name="email-address" required
                                      autofocus>
                                      
                                    </div>
                                  </div>
                       
                                  
                                  <div class="form-group">
                                    <div class="form-row">
                                      <div class="col-md-6">
                                        <div class="input-group no-border input-lg">
                                          <input type="password"  id="password" placeholder="Password" class="form-control" name="password" required>
                                          
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="input-group no-border input-lg">
                                          <input type="password"  id="password" placeholder="Password" class="form-control" name="password" required>
                                          
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <button type="submit" routerLink="/login" class="btn btn-primary btn-round btn-lg btn-block sign-up">Register 
                      
                                  </button>
                                </form>
                                <div class="card-footer text-center">
                                   
                                    <div class="pull-left">
                                      
                                        <a routerLink="/login" class="link">Log In</a>
                                      
                                    </div>
                                    <div class="pull-right">
                                      
                                        <a routerLink="/forgotpassword" class="link">Forgot Password?</a>
                                      
                                    </div></div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
            
            <!-- end row -->
        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
  </div>